.img {
    height: 100px;
    width: 100px;
    margin-left: 110px;
    border-radius: 10px;
}

.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }