.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: 250px;
}

.close {
  margin-left: 70px;
  margin-top: -10px;
}
.gh{
  display: flex;
  flex-direction: row;
}
