<ion-content>
  <br>
  <div style="display: flex;">
  <ion-icon style="font-size: 25px;" name="arrow-back-outline"></ion-icon>
  <ion-title style="font-size: 20px; color: orange; font-weight: 600; text-align: center; margin-left: -10%;">QR Code</ion-title>      
  </div>
  <br>
  <ion-segment  value="default">
    <ion-segment-button value="default">
      <button style="font-family: sans-serif; font-size: 15px; border-radius: 8px; border: 2px solid orange; height: 35px; width: 150px; font-weight: 600;background-color: white;">Generate QR Code</button>
    </ion-segment-button>
    <ion-segment-button  value="segment">
      <button style="font-family: sans-serif; font-size: 15px; border-radius: 8px; border: 2px solid grey; height: 35px; width: 150px; font-weight: 600;background-color: white;">Scan QR Code</button>
    </ion-segment-button>
  </ion-segment>
  <br>
  <ion-card-content style="border: 1px solid orange; height: 65%; width: 90%; margin-left: 5%; border-radius: 8px;">
    <ion-title style="font-weight: 600; text-align: center; font-size: 15px;">Generate QR code for tables</ion-title>
    <br>
    <br>
    <div style="margin-left: 20px;">
    <div style="display: flex; flex-direction: row;">
      <p style="font-size: 14px;font-style: normal;font-weight: 600;">Table No  &nbsp; &nbsp; :</p> 
      <ion-item style="margin-left: 5%; margin-top: -2%;">
        <ion-input style="margin-top: -7%; font-size: 15px;" placeholder="Enter Table No"></ion-input>
      </ion-item>
    </div>
    <br>

    <div style="display: flex; flex-direction: row;">
      <p style="font-size: 12px;font-style: normal;font-weight: 600;">Attach Menu &nbsp; :</p>
      <ion-item style="margin-left: 3%;margin-top: -2%;">
        <ion-input style="margin-top: -7%; font-size: 15px;" placeholder="Enter URL"></ion-input>
      </ion-item>
    </div>
  <br>
</div>
  
    <button style="width: 124px;
    height: 28px;border-radius: 40px;
background: linear-gradient(90deg, #F56304 0%, #FCA311 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;  margin-left: 25%;">Generate QR</button>
<br>
<br>
<br>
<br>
<div style="display: flex;">
  <p style="color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;">Added Tables</p>
  <p style="margin-left: 25%;color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;">QR Codes</p>
</div>

<br>
<br>
<p style="font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;background: linear-gradient(180deg, #F55B03 0%, #FCA311 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; margin-left: 30%;">No Tables Added</p>
  </ion-card-content>
  


</ion-content>
